@font-face {
    font-family: 'Glasstown NBP';
    src: url('fonts/Glasstown-NBP.eot');
    src: url('fonts/Glasstown-NBP.eot?#iefix') format('embedded-opentype'),
    url('fonts/Glasstown-NBP.woff2') format('woff2'),
    url('fonts/Glasstown-NBP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Glasstown NBP', monospace;
    font-size: 16px;
}

body {
    padding-top: 50px;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../img/grass.png');
    overflow-x: hidden;
}

#cloud {
    pointer-events: none;
    opacity: 0.85;
    display: block;
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translateX(0);
    transition: 1s;
}

#cloud:hover {
    transform: translateX(-30px);
}

#restart-button {
    display: block;
    padding: 20px;
    outline: none;
    margin: 0 auto 20px;
    font-size: clamp(1.5rem, 1rem + 3vw, 5rem);
    border-radius: 5px;
    font-family: "Glasstown NBP", "Glasstown", monospace;
    line-height: 1.2;
    transition: 1s background-color;
}

#restart-button:hover {
    background-color: #E3E3E3;
}



#field-size {
    font-size: 0.9em;
    font-family: "Glasstown NBP", monospace;
    text-align: center;
    border: none;
    width: 4ch;
    padding: 1px;
    margin: 1ch 5px 0;
    transition: 0.5s width;
}

#field-size:focus {
    width: 4ch;
}

#flag-number-display {
    font-size: clamp(2rem, 2rem + 2vw, 5rem);
    border-radius: 0.4rem;
    padding: 0.1rem;
    display: flex;
    margin: 0.5rem auto;
    width: fit-content;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/alternativeLandPiece.png");
}

#flag-number-display span {
    vertical-align: text-top;
    padding: 0 5px;
    font-weight: 700;
}

#flag-number-display::before {
    display: inline-block;
    padding: 0 0.1rem;
    width: 1em;
    height: 1em;
    content: "";
    background: url('../img/pxlFlag.png') center no-repeat;
    background-size: 90% 90%;
}

#flag-number-display::after {
    display: inline-block;
    padding: 0 0.1rem;
    width: 1em;
    height: 1em;
    content: "";
    background: url('../img/pixel-land-mine.png') center no-repeat;
    background-size: 90% 60%;
}


@media screen and (any-pointer: coarse) {
}

@keyframes moveBg {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 100%;
    }
}

.exploded:hover {
    box-shadow: 0 0 6px 5px transparent;
}


#minefield {
    max-width: 1200px;
    max-height: 1200px;
    box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
    font-size: 5vw;
    display: grid;
    grid-template-columns: repeat(var(--field-size), 1fr);
    gap: 0.2vw;


    border: 1em solid transparent;
    border-radius: 2vw;
    background-image: url("../img/alternativeLandPiece.png");
    border-image-source: url("../img/wired border.svg");
    border-image-slice: 13%;
    border-image-repeat: round;
}

.landpiece {
    font-size: calc(1rem + 1vw + (100% / var(--field-size)));
    position: relative;
    padding: 50%;
    background: url("../img/normalLandPiece.png") center no-repeat;
    background-size: 99% 99%;
    text-align: center;
    font-weight: bolder;
    text-shadow: 0 0 2vw green;
    transition: 0.3s box-shadow;
}

.landpiece:hover {
    z-index: 1;
    border-radius: 0.1em;
    box-shadow: 0 0 1vw 0.3vw #ffff00;
}

.landpiece::before {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 100%;
    height: 100%;
    background: url("../img/pxlFlag.png") center no-repeat;
    background-size: 80% 80%;
}

.landpiece::after {
    content: attr(data-mines-nearby);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%) scaleX(1.4);
    pointer-events: none;
}

.revealed {
    background: url("../img/alternativeLandPiece.png") center;
    background-size: 100% 100%;
    box-shadow: inset 0 0 0.5vw -0.1vw #000000;
    transition: 0.2s background;
}

.revealed:hover {
    border-radius: 0;
    background-size: 103% 103%;
    box-shadow: inset 0 0 0.5vw -0.1vw #000000;
}

.flagged:hover {
    box-shadow: 0 0 1vw 0.3vw #ff9100;
}

.flagged::before {
    content: '';
    animation: placeFlag 2s forwards;
}

.unflagging::before {
    content: '';
    animation: removeFlag 2s forwards;
}

@keyframes placeFlag {
    0% {
        transform-origin: 200% 50%;
        transform: rotate(30deg) translate(3px,3px);
        opacity: 0;
        animation-timing-function: ease-in;
    }
    52% {
        transform: rotate(0) skewX(3deg);
        opacity: 1;
    }
    53% {
        animation-timing-function: ease-in-out;
        transform-origin: -10% 100%;
    }
    66% {
        transform: skewX(6deg);
    }
    80% {
        transform: skewX(-3deg);
    }
    90% {
        transform: skewX(3deg);
    }
    100% {
        transform: skewX(0) translate(0.5px,0.5px);
        transform-origin: -10% 100%;
    }
}

@keyframes removeFlag {
    0% {
        transform-origin: 200% 50%;
        transform: rotate(0);
        opacity: 1;
    }

    100% {
        transform-origin: 200% 50%;
        transform: rotate(30deg);
        opacity: 0;
    }
}

.exploded {
    z-index: 1;
    background: url('../img/exploFramesFix.png') center no-repeat;
    background-size: 1900% 96%;
    animation: moveBg 3s steps(18) 1 forwards;
    transform: scale(2);
}
.exploded:hover {
    box-shadow: none;
}



